<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/assgTwo.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
          <div class="heading">
                <label for="" id="heading"></label>
                <a href="">Logout</a>
          </div> 
          <div id="headingId"></div>
          <div id="what"></div>
        <div class="cardContainer">
          <div class="card">
            <div class="firstRow">
              <label for="to">To:</label>
              <select name="" id="toText">
                </select>
                <label for="" id="phone"></label>
            </div>
            <div class="secondRow">
              <label for="message">Message: </label>
              <input type="text" id="messageText" />
            </div>
            <div id="attach"></div>
            <div class="sendMsg">
              <button class="btnSend" id="btnSend"></button>
            </div>
          </div>
        </div>
        <div class="messageList">
          <ul class="tabrow">
              <li class="selected">Recent Conversation</li>
              <li>All Conversation</li>
              <li >Photos</li>
            </ul>
        </div>
        <div class="messageContent">
          <div id="viewConve">
            <a href=""></a>
          </div>
          <div class="messageBox">
            <div id="newTextMsgH"><label for="newMessage" id="newText"></label></div>
            <input type="text" id="newTextMsg" />
            <button id="btnsendMsg"></button><br />
            <div id="newAttach"><a href="" ></a></div>
          </div>
          <div class="laterMsg"  >
            <label for="laterMsg"
            id="laterDelivery"  
            >
              <a href="">Click here to view</a></label
            >
          </div>
          <div>
            <div id="idDisplay"></div>
            <div id="firstMsg"></div>
            <div id="right"></div>
            <div id="rightDisplay">
            <div id="secondMsg"></div>
          </div>
            <div id="idNew"></div>
            <div id="newYest"></div>
            <div id="idNewRight"></div>
            <div id="rightDisplay">
            <div id="newYestRight"></div>
          </div>
          </div>
          
        </div>
        <div class="loadMessage">
                <div class="btnLoad">
                    <a href="">Load More Messages</a>
                </div>
              </div>
      </div>
    </div>
    <script type="module" src="../components/assignment.js"></script>
  </body>
</html>
