<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/assgTwo.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
          <div class="heading">
                <label for=""> <b> Textify</b> Because Text Message Rocks</label>
                <a href="">Logout</a>
          </div> 
        <div class="cardContainer">
          <div class="card">
            <div class="firstRow">
              <label for="to">To:</label>
              <input type="text" id="totext">
              <!-- <select name="" id="toText">
                </select> -->
                <label for="" id="phone">Phone number or name</label>
            </div>
            <div class="secondRow">
              <label for="message">Message: </label>
              <input type="text" id="messageText" />
            </div>
            <div class="sendMsg">
              <button class="btnSend">Send Text Message</button>
            </div>
          </div>
        </div>
        <div class="messageList">
          <button class="recent">Recent Conversation</button>
          <a href=""><button id="btnAllConv">All Conversation</button></a>
          <a href=""><button id="btnPhotos">Photos</button></a>
          <div id="password">
            <a href=""><button id="btnChangePass">Change PassWord</button></a>
          </div>
        </div>
        <div class="messageContent">
          <div id="viewConve">
            <a href="">View All Conversation</a>
          </div>
          <div class="messageBox">
            <label for="newMessage">New Text Message :</label><br />
            <input type="text" id="newTextMsg" />
            <button id="btnsendMsg">Send Message</button><br />
            <a href="">Attach a photo or schedule later for delivery</a>
          </div>
          <div class="laterMsg">
            <label for="laterMsg"
              >You have <b> 1 message schedule</b> for later delivery
              <a href="">Click here to view</a></label
            >
          </div>
          <div>
            <div id="details">
            </div>
            <div id="recevierDetails"></div>
          </div>
          
        </div>
        <div class="loadMessage">
                <div class="btnLoad">
                    <a href="">Load More Messages</a>
                </div>
              </div>
      </div>
    </div>
    <script type="module" src="../components/assignment.js"></script>
  </body>
</html>
