<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/assignment.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <div class="firstRow">
          <div id="firstBox"></div>
          <div id="secondBox"></div>
        </div>
        <div class="secondRow">
          <div id="thirdBox"></div>
          <div id="fourthBox"></div>
        </div>

        <div class="thridRow">
          <div class="subFirstRow">
            <div id="fifthBox"></div>
            <div id="sixthBox"></div>
            <div id="seventhBox"></div>
          </div>
          <div class="subFSecondRow">
            <div id="fifthBox"></div>
            <div id="eighthBox"></div>
          </div>
          <div class="fourthRow">
            <div id="ninethBox"></div>
          </div>
          <div class="subThridRow">
            <div id="tenthBox"></div>
            <div id="eleventhBox"></div>
          </div>
        </div>

        <div class="fifthRow">
          <div class="subFifthRow">
            <div id="twelvethBox"></div>
            <div id="thriteenBox"></div>
            <div id="fourtethBox"></div>
          </div>
          <div class="sixthRow">
            <div id="fifteenBox"></div>
          </div>
        </div>
        <div class="seventhRow">
          <div class="seventhFirstRow">
            <div id="sixteenBox"></div>
            <div id="seventeenBox"></div>
          </div>
          <div class="seventhStRow">
            <div id="eighteenBox"></div>
          </div>
          <div class="seventhThRow">
            <div id="nineteenBox"></div>
            <div id="twentyBox"></div>
          </div>
          <div class="seventhFourRow">
            <div id="twentyOneBox"></div>
          </div>
          <div class="seventhFiveRow">
            <div id="twentyTwoBox"></div>
          </div>
          <div class="seventhSixRow">
            <div id="twentyThreeBox"></div>
          </div>
          <div class="seventhSevenRow">
            <div id="twentyFourBox"></div>
          </div>
          <div class="seventhEightRow">
            <div id="TwentyFiveBox"></div>
          </div>
          <div class="seventhNineRow">
            <div id="TwentySixBox"></div>
          </div>
          <div class="seventhtenRow">
            <div id="TwentyEightBox"></div>
          </div>
          <div class="seventhEleRow">
            <div id="twentyNineBox"></div>
          </div>
        </div>
        <div class="afterContent">
          <div id="thirtyBox"></div>
          <div id="thirtyOneBox"></div>
        </div>
      </div>
    </div>
  </body>
</html>
