<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <div class="heading">
          <label for="" id="heading"></label>
          <a href="">Logout</a>
        </div>
        <div id="headingId"></div>
        <div id="what"></div>
        <div class="cardContainer">
          <div class="card">
            <div class="firstRow">
              <label for="to" id="to">To:</label>
              <select name="" id="toText"> </select>
              <label for="" id="phone"></label>
            </div>
            <div class="secondRow">
              <label for="message" id="message">Message: </label>
              <input type="text" id="messageText" />
            </div>
            <div id="attach"></div>
            <div class="sendMsg">
              <button class="btnSend" id="btnSend"></button>
              <div id="schedule"></div>
            </div>
          </div>
        </div>
        <div class="messageContent">
          <div id="password"></div>
          <ul class="tabrow">
            <li>Recent Conversation</li>
            <li>All Conversation</li>
            <li class="selected">Photos</li>
          </ul>
        </div>
        <div class="gridImg">
          <div id="imageHeading"></div>
          <div class="imageGrid">
            <div class="imageBox" id="cheeeta">
              <img src="../assests/cheetha.jpg" alt="" /> (508) 555-1234 <br />
              <span class="sent"> sent on 03/01/2011 </span>
            </div>
            <div class="imageBox" id="cow">
              <img src="../assests/cow.jpg" alt="" />Sarah Kelly<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="deer">
              <img src="../assests/deer.jpg" alt="" />Luke Jones<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="dog">
              <img src="../assests/dog.jpg" alt="" />(508) 555-1234<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="elephant">
              <img src="../assests/elephant.jpg" alt="" />(508) 555-1234<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="horse">
              <img src="../assests/horse.jpg" alt="" />Sarah Kelly<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="lion">
              <img src="../assests/lion.jpg" alt="" />Luke Jones<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="panda">
              <img src="../assests/panda.jpg" alt="" />(508) 555-1234<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="peapock">
              <img src="../assests/peapock.jpg" alt="" />(508) 555-1234<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="rabbit">
              <img src="../assests/rabbit.jpg" alt="" />Sarah Kelly<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="tiger">
              <img src="../assests//tiger.jpg" alt="" />Luke Jones<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
            <div class="imageBox" id="eagle">
              <img src="../assests//eagle.jpg" alt="" />(508) 555-1234<br /><span
                class="sent"
              >
                sent on 03/01/2011
              </span>
            </div>
          </div>
        </div>
        <div class="loadMessage">
          <div class="btnLoad">
            <a href="">Load More Photos</a><br />
            <span id="load"></span>
          </div>
        </div>
      </div>
    </div>
    <script src="../components/index.js"></script>
  </body>
</html>
